@import '../css/variables.css';

.tag {
    color: var(--color-initial);
    background-color: var(--color-black);
    font-size: var(--text-tiny);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
