
.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background-color);
  border-radius: var(--card-border-radius);
}

.root:hover {
  box-shadow: var(--card-box-shadow-hover);
}

