
.fieldset {
  border-width: 0.1rem;
  border-radius: var(--input-border-radius);
  padding: 1.0rem;

  & > legend {
      display: block;
      font-size: 1.6rem;
      font-weight: 700;
      /*margin-bottom: .5rem;*/
    }
}



